@use 'styles/mixins' as m;
@use 'styles/tokens';

:host {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  max-width: 100%;

  /* Base Style */
  border-radius: var(--aq-radius-6);
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  user-select: none;

  /* Typography dasar (menggunakan mixin label kamu) */
  @include m.type-label(2, 'medium');

  /* Agar konten tombol (ikon + teks) rapi */
  ::ng-deep .aq-btn__content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  /* Agar icon di dalam tombol rapi */
  ::ng-deep .material-symbol,
  ::ng-deep .material-symbols-outlined {
    font-size: 1.25em; /* Sedikit lebih besar dari teks */
    line-height: 1;
  }

  /* --- SIZES --- */
  &.aq-btn--sm {
    padding: 0.375rem 0.75rem;
    @include m.type-label(4, 'medium');
  }

  &.aq-btn--md {
    padding: 0.75rem 1.5rem;
    @include m.type-label(2, 'medium');
  }

  &.aq-btn--lg {
    padding: 1rem 2rem;
    @include m.type-label(1, 'medium');
  }

  &.aq-btn--full {
    display: flex;
    width: 100%;
    padding: 0.75rem;
  }

  /* --- VARIANTS & COLORS --- */

  /* 1. SOLID (Background color) */
  &.aq-btn--solid {
    &.aq-btn--primary {
      background-color: var(--brand-primary-500);
      color: #ffffff; // Text color

      &:hover:not(.disabled) {
        background-color: color-mix(in srgb, var(--brand-primary-500) 100%, black 12%);
      }
    }

    &.aq-btn--secondary {
      background-color: var(--brand-secondary-500);
      color: var(--brand-primary-500); /* Text ikut primary di secondary bg */

      &:hover:not(.disabled) {
        background-color: var(--brand-secondary-100);
      }
    }
  }

  /* 2. OUTLINE (Border only) */
  &.aq-btn--outline {
    background-color: transparent;
    border: 1px solid var(--brand-primary-500);
    &.aq-btn--primary {
      border: 1px solid var(--brand-primary-500);
      color: var(--brand-primary-500);

      &:hover:not(.disabled) {
        background-color: var(--brand-primary-012);
      }
    }

    &.aq-btn--secondary {
      border: 1px solid var(--brand-primary-100);
      color: var(--neutral-700);

      &:hover:not(.disabled) {
        background-color: var(--brand-primary-012);
      }
    }
  }

  /* 3. GHOST (No border, text only) */
  &.aq-btn--ghost {
    background-color: transparent;

    &.aq-btn--primary {
      color: var(--brand-primary-500);

      &:hover:not(.disabled) {
        background-color: var(--brand-primary-012);
      }
    }
  }

  /* --- STATES --- */
  &.disabled,
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    filter: grayscale(100%);
  }

  /* Click effect */
  &:active:not(.disabled) {
    transform: scale(0.99);
  }
}
