@use './styles/tokens';
@use './styles/mixins' as *;

/* Base */
:where(html, body) {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary, var(--font-secondary, sans-serif));
}

/* Material Symbols */
.material-symbol {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  display: inline-block;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
}
